.conda-env/
.venv/
venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.DS_Store
.env
.vscode/
.idea/
data/
results/
logs/
*.npz
*.csv
*.pt
*.pth
*.pkl
*.pt.gz
*.pth.gz
*.pkl.gz
*.pt.tar
*.pth.tar
*.lock
*.png